<div class="logo primary-bg-color">
    <a href="https://www.creative-tim.com" class="simple-text color-white">
        <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png" />
        </div> -->
        Dune Academy
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
            <a class="nav-link color-primary" [routerLink]="[menuItem.path]">
                <i class="material-icons color-primary">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>